<div class="container">
    <br />
    <div class="row">
      <div class="col">
        <h3>Abbonement Mobile</h3>
      </div>
      <div class="col text-right">
        <button mat-raised-button color="primary" (click)="opencreatemodal(mymodalcreate)">Ajouter</button>
  
      </div>
    </div>
    <br />
  
    <div class="row height d-flex justify-content-center align-items-center">
      <div class="col-md-6">
        <div class="form"> <i class="fa fa-search"></i> <input matInput (keyup)="applyFilter($event)" type="text"
            class="form-control form-input" placeholder="Search anything..."> <span class="left-pan"><i
              class="fa fa-microphone"></i></span> 
        </div>
      </div>
    </div>
  
  
  
  
  
  
  
    <table mat-table [dataSource]="datasource" matSort class="mat-elevation-z8">
      <ng-container matColumnDef="Image">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Picture </th>
        <td mat-cell *matCellDef="let element"> <img style="width:150px" src="{{element.Image}} " alt="" srcset=""></td>
      </ng-container>
  
      <ng-container matColumnDef="Operateur">
        <th style="margin-right: 10px;" mat-header-cell *matHeaderCellDef mat-sort-header> Operateur </th>
        <td mat-cell *matCellDef="let element"> {{element.Operateur}} </td>
      </ng-container>
  
      <ng-container matColumnDef="Designation">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Designation </th>
        <td mat-cell *matCellDef="let element"> {{element.Designation}} </td>
      </ng-container>
      <ng-container matColumnDef="Actions">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Actions </th>
        <td mat-cell *matCellDef="let element">
          <button mat-raised-button color="primary" (click)="opendetail(mymodal,element.Id)">Detail</button>
          <button mat-raised-button style="background-color: lightgreen;" (click)="openedit(mymodaledit,element.Id)">Edit</button>
          <button mat-raised-button color="warn" (click)="deleteProduct(element.Id)">Delete</button>
  
  
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[6, 12, 18]" showFirstLastButtons></mat-paginator>
  
  
  </div>
  
  
  <ng-template #mymodal let-modal>
    <div class="modal-header" style="background-color:lightgray">
      <h4 class="modal-title" id="modal-basic-title"> Details</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body" *ngFor="let item of detaillist">
      <mat-card class="example-card">
        <mat-card-title-group>
          <mat-card-title style="font-size: large;font-weight: bold;">{{item.Designation}}</mat-card-title>
          <mat-card-subtitle>{{item.Operateur}}</mat-card-subtitle>
          <img style="width: 200px;" src="{{item.Image}}">
        </mat-card-title-group>
        <mat-card-content>
          <h4>Fiche technique</h4>
  
  
          <mat-list>
            <mat-divider></mat-divider>
            <mat-list-item>
              <mat-icon matListIcon>folder</mat-icon>
              4G
              <mat-divider vertical style="height:50px;margin-right: 20px;margin-left: 20px;"></mat-divider>
              {{item.G4}}
            </mat-list-item>
            <mat-divider></mat-divider>
  
            <mat-list-item>3G : {{item.G3}}</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>1000 DA : {{item.Abon1000}}</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>1500 DA : {{item.Abon1500}}</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>2000 DA : {{item.Abon2000}}</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>HADRA : {{item.Hadra}}</mat-list-item>           
          </mat-list>
  
        </mat-card-content>
      </mat-card>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-success" (click)="modal.close('Save click')">Cancel</button>
    </div>
  </ng-template>
  
  
  
  
  
  
  
  
  <ng-template #mymodalcreate let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Creer une nouvelle Abonnement</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="pucecreateform" (ngSubmit)="onSubmit()">
  
        <div class="form-group">
          <label for="exampleInputEmail1">Operateur</label>
          <input type="text" class="form-control" formControlName="Operateur" id="exampleInputEmail1"
            placeholder="Enter Designation">
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Designation</label>
          <input type="text" class="form-control" formControlName="Designation" id="exampleInputEmail1"
            placeholder="Enter Date">
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">4G</label>
          <input type="text" class="form-control" formControlName="G4" id="exampleInputEmail1" placeholder="Enter Body">
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">3G</label>
          <input type="text" class="form-control" formControlName="G3" id="exampleInputEmail1" placeholder="Enter RAM">
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Abonnement 1000 DA</label>
          <input type="text" class="form-control" formControlName="Abon1000" id="exampleInputEmail1"
            placeholder="Enter Detail">
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Abonnement 1500 DA</label>
          <input type="text" class="form-control" formControlName="Abon1500" id="exampleInputEmail1"
            placeholder="Enter Detail">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Abonnement 2000 DA</label>
            <input type="text" class="form-control" formControlName="Abon2000" id="exampleInputEmail1"
              placeholder="Enter Detail">
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Appels</label>
            <input type="text" class="form-control" formControlName="Hadra" id="exampleInputEmail1"
              placeholder="Enter Detail">
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Prix</label>
            <input type="text" class="form-control" formControlName="Prix" id="exampleInputEmail1"
              placeholder="Enter Prix">
          </div>
        <div class="form-group">
          <label>Image </label>
          <input type="text" class="form-control" formControlName="Image">
        </div>
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div>
  
        <button class="btn btn-primary">Submit</button>
      </form>
  
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-success" (click)="modal.close('Save click')">Cancel</button>
    </div>
  </ng-template>
  
  
  
  
  
  
  <ng-template #mymodaledit let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Edit Puce</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body" *ngFor="let item of editeditem">
      <form (ngSubmit)="update(item.Id)">
  
        <div class="form-group">
          <label for="exampleInputEmail1">Operateur</label>
          <input [value]="item.Operateur" (input)="operateur = $event.target.value" id="exampleInputEmail1" class="form-control"
            placeholder="Enter Designation">
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Designation</label>
          <input [value]="item.Designation" (input)="designation= $event.target.value" id="exampleInputEmail1"
            class="form-control" placeholder="Enter Designation">
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">4G</label>
          <input type="text" class="form-control" [value]="item.G4" (input)="g4= $event.target.value"
            id="exampleInputEmail1" placeholder="Enter Detail">
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">3G</label>
          <input type="text" class="form-control" [value]="item.G3" (input)="g3= $event.target.value"
            id="exampleInputEmail1" placeholder="Enter Detail">
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Abonnement 1000 DA</label>
          <input type="text" class="form-control" [value]="item.Abon1000" (input)="abon1000 = $event.target.value"
            id="exampleInputEmail1" placeholder="Enter Detail">
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Abonnement 1500 DA</label>
          <input type="text" class="form-control" [value]="item.Abon1500" (input)="abon1500 = $event.target.value"
            id="exampleInputEmail1" placeholder="Enter Detail">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Abonnement 2000 DA</label>
            <input type="text" class="form-control" [value]="item.Abon2000" (input)="abon2000 = $event.target.value"
              id="exampleInputEmail1" placeholder="Enter Detail">
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Appels</label>
            <input type="text" class="form-control" [value]="item.Hadra" (input)="hadra = $event.target.value"
              id="exampleInputEmail1" placeholder="Enter Detail">
          </div>
          <div class="form-group">
            <label>Prix </label>
            <input type="text" class="form-control" [value]="item.Prix" (input)="prix = $event.target.value">
          </div>
        <div class="form-group">
          <label>Image </label>
          <input type="text" class="form-control" [value]="item.Image" (input)="image = $event.target.value">
        </div>
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div>
  
        <button class="btn btn-primary">Submit</button>
      </form>
  
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-success" (click)="modal.close('Save click')">Cancel</button>
    </div>
  </ng-template>
  
  
  
  
  <ngx-spinner *ngIf="delete==true" bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#b31717" type="square-loader"
    [fullScreen]="true">
    <p style="color: white"> suppression en cours ... </p>
  </ngx-spinner>
  <ngx-spinner *ngIf="upd==true" bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#b31717" type="ball-running-dots"
    [fullScreen]="true">
    <p style="color: white"> mise à jour ... </p>
  </ngx-spinner>
  <ngx-spinner *ngIf="showspphone==true" bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#b31717" type="pacman"
    [fullScreen]="true">
    <p style="color: white"> chargement des Abonnement Mobile en cours ... </p>
  </ngx-spinner>