.sidebar-mini .sidebar-open .login-page {
    align-items: center;
    background-color: purple !important;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
}