<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">Dashboard</h1>
            </div>
            <!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Dashboard v1</li>
                </ol>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
        <div class="row">
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-info">
                    <div style="float: right; margin-top: 30px; margin-right: 40px;">
                        <mat-icon style="font-size: 60px;"> stay_current_portrait</mat-icon>
                    </div>
                    <div class="inner">
                        <h3>{{countphone}}</h3>

                        <p>Phones</p>
                       
                    </div>
                   
                    <a href="#" class="small-box-footer" [routerLink]="['/phones']"
                        >More info <i class="fas fa-arrow-circle-right"></i
                    ></a>
                </div>
            </div>
            <!-- ./col -->

            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-secondary">
                    <div style="float: right; margin-top: 30px; margin-right: 40px;">
                        <mat-icon style="font-size: 60px;"> watch</mat-icon>
                    </div>
                    <div class="inner">
                        <h3>{{countaccessoires}}</h3>

                        <p>Accessoires</p>
                       
                    </div>
                   
                    <a href="#" class="small-box-footer" [routerLink]="['/accessoires']"
                        >More info <i class="fas fa-arrow-circle-right"></i
                    ></a>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-success">
                    <div style="float: right; margin-top: 30px; margin-right: 40px;">
                        <mat-icon style="font-size: 60px;"> add_shopping_cart</mat-icon>
                    </div>
                    <div class="inner">
                        <h3>{{countcommands}}</h3>

                        <p>Commandes Reçus</p>
                       
                    </div>
                   
                    <a href="#" class="small-box-footer" [routerLink]="['/commandes']"
                        >More info <i class="fas fa-arrow-circle-right"></i
                    ></a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-danger">
                    <div style="float: right; margin-top: 30px; margin-right: 40px;">
                        <mat-icon style="font-size: 60px;"> supervised_user_circle</mat-icon>
                    </div>
                    <div class="inner">
                        <h3>{{countusers}}</h3>

                        <p>Utilisateurs</p>
                       
                    </div>
                   
                    <a href="#" class="small-box-footer" [routerLink]="['/users']"
                        >More info <i class="fas fa-arrow-circle-right"></i
                    ></a>
                </div>
            </div>
            <!-- ./col -->
        </div>
        <!-- /.row -->

    </div>
    <!-- Main row -->
    <div class="row">

        <div class="col-md-12">
        <div class="card">
        <div class="card-header">
        <h5 class="card-title">Monthly Recap Report</h5>
        <div class="card-tools">
        <button type="button" class="btn btn-tool" data-card-widget="collapse">
        <i class="fas fa-minus"></i>
        </button>
        <div class="btn-group">
        <button type="button" class="btn btn-tool dropdown-toggle" data-toggle="dropdown">
        <i class="fas fa-wrench"></i>
        </button>
        <div class="dropdown-menu dropdown-menu-right" role="menu">
        <a href="#" class="dropdown-item">Action</a>
        <a href="#" class="dropdown-item">Another action</a>
        <a href="#" class="dropdown-item">Something else here</a>
        <a class="dropdown-divider"></a>
        <a href="#" class="dropdown-item">Separated link</a>
        </div>
        </div>
        <button type="button" class="btn btn-tool" data-card-widget="remove">
        <i class="fas fa-times"></i>
        </button>
        </div>
        </div>
        
        <div class="card-body">
        <div class="row">
        <div class="col-md-8">
        <p class="text-center">
        <strong>Commandes Annuels</strong>
        </p>
        <div>
            <div style="display: block">
              <canvas baseChart
                      [datasets]="barChartData"
                      [labels]="barChartLabels"
                      [options]="barChartOptions"
                      [legend]="barChartLegend"
                      [type]="barChartType">
              </canvas>
            </div>
          </div>
        
        </div>
        
        <div class="col-md-4">
        <p class="text-center">
        <strong>Goal Completion</strong>
        </p>
        <div class="progress-group">
        Commandes Reçus
        <span class="float-right"><b>{{countcommands}}</b>/50</span>
        <div class="progress progress-sm">
        <div class="progress-bar bg-primary" style="width: 10%"></div>
        </div>
        </div>
        
        <div class="progress-group">
        Utilisateurs Atteintion
        <span class="float-right"><b>{{countusers}}</b>/100</span>
        <div class="progress progress-sm">
        <div class="progress-bar bg-danger" style="width: 10%"></div>
        </div>
        </div>
        
        <div class="progress-group">
        <span class="progress-text">Smartphones Base</span>
        <span class="float-right"><b>{{countphone}}</b>/3000</span>
        <div class="progress progress-sm">
        <div class="progress-bar bg-success" style="width: 90%"></div>
        </div>
        </div>
        
        <div class="progress-group">
            Accessoires Base        
            <span class="float-right"><b>{{countaccessoires}}</b>/500</span>
        <div class="progress progress-sm">
        <div class="progress-bar bg-warning" style="width: 50%"></div>
        </div>
        </div>
        
        </div>
        
        </div>
       
        </div>
       
        <div class="card-footer">
        <div class="row">
        <div class="col-sm-3 col-6">
        <div class="description-block border-right">
        <span class="description-percentage text-success"><i class="fas fa-caret-up"></i> 17%</span>
        <h5 class="description-header">$35,210.43</h5>
        <span class="description-text">TOTAL REVENUE</span>
        </div>
        
        </div>
        
        <div class="col-sm-3 col-6">
        <div class="description-block border-right">
        <span class="description-percentage text-warning"><i class="fas fa-caret-left"></i> 0%</span>
        <h5 class="description-header">$10,390.90</h5>
        <span class="description-text">TOTAL COST</span>
        </div>
        
        </div>
        
        <div class="col-sm-3 col-6">
        <div class="description-block border-right">
        <span class="description-percentage text-success"><i class="fas fa-caret-up"></i> 20%</span>
        <h5 class="description-header">$24,813.53</h5>
        <span class="description-text">TOTAL PROFIT</span>
        </div>
        
        </div>
        
         <div class="col-sm-3 col-6">
        <div class="description-block">
        <span class="description-percentage text-danger"><i class="fas fa-caret-down"></i> 18%</span>
        <h5 class="description-header">1200</h5>
        <span class="description-text">GOAL COMPLETIONS</span>
        </div>
        
        </div>
        </div>
        
        </div>
        
        </div>
        
        </div>
        
        </div>
     

        
</section>
<!-- /.content -->
